*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    
}
.navbar-nav{
    margin-left: 300px;
    gap: 30px;
}
.button1{
    margin-right: 100px;
}
.logo1{
    margin-left: 50px;
    gap: 0;
    width: 36px;
height: 36px;
padding: 0.35px 0.4px 0.4px 0.35px;
gap: 0px;
opacity: 0px;

}
.navbar{
    margin-top: 30px;
}

/*  */
.main1{
    width: Fixed (1,440px)px;
height: Hug (515px)px;
padding: 0px 100px 0px 100px;
gap: 0px;
justify-content: space-between;
opacity: 0px;
margin-top: 70px;
display: flex;

}
.left1{
    width:  531px;
height:  481px;
gap: 35px;
opacity: 0px;

}
.left1 h1{
    width: 531px;
height: 231px;
gap: 0px;
opacity: 0px;
font-size: 60px;
font-weight: 500;
line-height: 76.56px;
text-align: left;


}
.right1 img{
    width: 500px;
height: 440px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}

/* COMPANIES */
.companies img{
    width: Fixed (400px)px;
    height: Hug (40px)px;
    padding: 0px 90px 0px 80px;
    justify-content: space-between;
    margin-right: -125px;
    overflow: hidden;
}


/*  */
.main3{
    width: Fixed (1,440px)px;
    height: Hug (51px)px;
    top: 971px;
    padding: 0px 100px 0px 100px;
    gap: 40px;
    opacity: 0px;
    margin-top: 100px;
    margin-left: 60px;
    display: flex;


}
.main3 .services {
    width: Hug (178px)px;
    height: Hug (51px)px;
    gap: 0px;
    opacity: 0px;
    color: #191A23!important;
    background-color: #B9FF66!important;
    padding: 5px 20px 0px 20px;
    border-radius: 8px;
    font-weight: 500;
}
.main3 .services p{

    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.97px;
    text-align: left;

}

/* main3a */
.main3a{
    width: Hug (1,440px)px;
    height: Hug (310px)px;
    margin-top: 152px;
    margin-left: 152px;
    gap: 40px;
    position :relative
}
.block1 h2{
    background-color: #B9FF66;
    border-radius: 10px;
}
.block2 h2{
    background-color: #F3F3F3;
}

.block1{
    background-color: #F3F3F3;
    width: Fixed (600px)px;
    height: Hug (310px)px;
    padding: 50px 50px 50px 50px;
    gap:30px;
    border-radius: 45px 45px 45px 50px;
    border: 1px solid black;
    justify-content: space-between;
    opacity: 0px;
}
.block2{
    background-color: #B9FF66;
   width: Fixed (600px)px;
   height: Hug (310px)px;
   padding: 50px 50px 50px 50px;
   gap:30px;
   border-radius: 45px 45px 45px 50px;
   border: 1px 0px 0px 0px;
   border: 1px solid black;
   justify-content: space-between;
   opacity: 0px;
}
.block1.left {
    width: Hug (221px)px;
    height: Hug (210px)px;
    gap: 130px;
    opacity: 0px;
}
.block2.left {
    width: Hug (221px)px;
    height: Hug (210px)px;
    gap: 93px;
    opacity: 0px;   
}

.main3afooter{
    position: absolute;
    bottom: 4px;
}
 .main3afooter{
    position: absolute;
    bottom: 6px;
    gap: 10px;
}
.main3afooter img{
    width: 32px;
    height: 32px;
    top: 15px;
    left: 12px;
    gap: 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
}
.main3afooter p{
    width: 108px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

/*  */
.main4 {
    display: flex;
    margin-top: 100px;
    margin-left: 130px;
    gap: 30px;
    width:  (190px)px;    
    color: #191A23!important;
    padding: 5px 20px 0px 20px;
    border-radius: 8px;
    font-weight: 500;
}
.working{
    background-color: #B9FF66;
    padding: 5px 20px 0px 20px;
    border-radius: 8px;

}
.main5{
    margin-top: 100px;
}
.main6 img{
    margin-top: 100px;
margin-left: 0px;
width:  1034px;
/* height: Hug (1,224px)px; */
top: 1623px;
margin-left: 50px;
gap: 30px;
opacity: 0px;
gap: 30px;
opacity: 0px;

}
.main6{
    margin-top: 10px;
    margin-left: 10px;
}
.main7 button{
    background-color: #B9FF66;
    color: black;
    width: 215px;
height: 51px;
opacity: 0px;
font-size: 30px;
font-weight: 500;
text-align: left;
padding-top: 2px;

}
.main7{
    width: 215px;
       text-align: left;
    padding-top: 100px;
    padding-left: 150px;
}
.main7 p{
font-family: Space Grotesk;
font-size: 18px;
font-weight: 400;
line-height: 22.97px;
text-align: left;
width: 323px;
height: 46px;
gap: 0px;
opacity: 0px;
text-align: start;
   
}
.left7{
    width: Hug (556px)px;
height: Hug (633px)px;
gap: 40px;
opacity: 0px;

}
.footer{
    width: Hug (1,241px)px;
height: Hug (514px)px;
padding: 55px 60px 50px 60px;
gap: 50px;
border-radius: 45px 45px 0px 0px;
opacity: 0px;
background-color: #191A23;
margin-top: 200px;
color: white!important;
margin: 40px;
}
#navbarNav{
    color: white!important;

}
.navf{
    color: white!important;
}
#b1:hover{
    background-color: #B9FF66;
    color: black;
}
.block
{
    display: block;
}
.infof{
    color: white;padding: 100px;
    gap: 10px;
}
#fb{
    background-color: #B9FF66;

    color: #191A23;
}
.end{
    margin-left: 100px;
}